/* add styles here */

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* our css */

/* rgb(235, 235, 211)
rgb(255, 155, 113)
rgb(73, 220, 177)
rgb(4, 104, 101) */

/* body styles */
body {
  /* font-family: 'Charmonman', cursive; */
  font-family: "Asap", sans-serif;
  font-size: 16px / 1em;
  line-height: 1.5;
  color: rgb(4, 104, 101);
  background: 
      linear-gradient(217deg, rgba(4, 104, 101, 0.9), rgba(250, 100, 0, 0) 70%),
      linear-gradient(127deg, rgba(73, 220, 177, 0.8), rgba(0, 216, 150, 0) 70%),
      linear-gradient(336deg, rgba(255, 155, 113, 0.8), rgba(0, 216, 150, 0) 70%);

      
}
.large {
  font-size: 2.25rem;
  font-weight: bold;
}
.medium {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Charmonman", cursive;
  margin-bottom: 15px;
}

<<<<<<< HEAD


=======
>>>>>>> master
nav,
footer,
section {
  padding: 20px;
  box-sizing : border-box;
  max-width: 1200px;
}
section {
  border-bottom: 4px solid;
}
.sections,
footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#about {
  border-bottom-color: rgb(255, 155, 113);
}
#team {
  border-bottom-color: rgb(4, 104, 101);
}
#contact {
  border-bottom-color: rgb(4, 104, 101);
}

/* nav */
.nav-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 1;
  background-image: linear-gradient(
    40deg,
    rgba(4, 104, 101, 0.9),
    rgba(73, 220, 177, 0.9)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  left: 15px;
  top: 10px;
}
.logo h1 {
  font-family: "Charmonman", cursive;
  color: rgb(255, 252, 250);
  position: fixed;
  top: 7px;
  left: 90px;
}

/* menu */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item a {
  padding: 4px;
  text-decoration: none;
  color: rgb(4, 104, 101);
}

main {
  padding: 50px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* intro */
.sections.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 40px 0;
}

.sections.intro h3,
.sections.intro p {
  display: block;
  width: 100%;
  color: rgb(255, 252, 250);
}

.sections.intro h3{
  font-family: "Charmonman", cursive;
  font-size : 3em;
  font-weight: bold;
}

.sections.intro p{
  font-size : 1.3em;
  font-weight: bold;
}


.name {
  color: rgb(255, 252, 250) 
}

.sections.intro article {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.round-img img {
  border-radius: 75px;
  width:150px;
}
.round-img figcaption {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

/* about the team */
.bubble {
  display: flex;
  flex-direction: row;
  /* background-image: linear-gradient(
    90deg,
    rgba(255, 155, 113, 0.8),
    rgba(4, 104, 101, 0.8)
  ); */
}

.bubble figcaption{
  font-weight: bold;
  font-size: 1.5em;
}
.bubble img{
  width: 200px;
  height: 200px;
}

.bubble.right {
  flex-direction: row-reverse;
}

<<<<<<< HEAD




/* form */
form {
  background-color : gainsboro;
  margin : 1rem 0;
  padding : 1.5rem;
  box-sizing : border-box;
  border-radius : .75rem;
}
@media and (max-width: 600px) {
  form {
    margin-left : 50px;
    margin-right : 50px;
  }
}

form input,
form label {
  display : block;
}
form input,
form textarea {
  border : 0;
  padding : .25rem;
  font-size : 1rem;
  width : 100%;
  display : block;
  box-sizing : border-box;
}
form button {
  margin-top : 1rem;
  padding : 1rem;
  font-size : 1.25rem;
  background : rgba(4, 104, 101, 0.8);
  color : white;
  border : 0;
  border-radius : .5rem;
}

/* error class */
.error {
  border : 2px solid red;
}
.error-msg,
.error-msg-show {
  visibility : hidden;
  color : red;
  padding : .25rem 0;
}
.error-msg-show {
  visibility : visible;
}
=======
.links {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  border-bottom: none;
  margin-bottom: 20px;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  font-family: "Asap", sans-serif;
  color: rgb(4, 104, 101);
  margin: 8px;
}

footer {
  color: rgb(4, 104, 101);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

form {
  text-align: center;
  margin: 20px;
}

input {
  margin: 5px;
}

>>>>>>> master
