/* body styles */
body {
  /* font-family: 'Charmonman', cursive; */
  font-family: "Asap", sans-serif;
  font-size: 16px / 1em;
  line-height: 1.5;
  color: rgb(4, 104, 101);
  background: linear-gradient(
      217deg,
      rgba(4, 104, 101, 0.6),
      rgba(250, 100, 0, 0) 70%
    ),
    linear-gradient(127deg, rgba(73, 220, 177, 0.8), rgba(0, 216, 150, 0) 70%),
    linear-gradient(336deg, rgba(255, 155, 113, 0.8), rgba(0, 216, 150, 0) 70%);
}
.large {
  font-size: 2.25rem;
  font-weight: bold;
}
.medium {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Charmonman", cursive;
  display: block;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

nav,
footer,
section {
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
}
section {
  border-bottom: 4px solid;
}
.sections,
footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#about {
  border-bottom-color: rgb(255, 155, 113);
}
#team {
  border-bottom-color: rgb(4, 104, 101);
}
#contact {
  border-bottom-color: rgb(4, 104, 101);
}

/* nav */
.nav-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 1;
  background-image: linear-gradient(
    40deg,
    rgba(4, 104, 101, 0.9),
    rgba(73, 220, 177, 0.9)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  cursor: pointer;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  left: 15px;
  top: 10px;
}
.logo h1 {
  font-family: "Charmonman", cursive;
  color: rgb(255, 252, 250);
  position: fixed;
  top: 7px;
  left: 90px;
}







/* - - - - - - - - */
/* responsive menu */
/* - hide the h2 */
.nav-bar h2 {
  display : none;
}

.menu {
  display: none;
}
.hamburger {
  width : 3rem;
  height : 2.5rem;
  cursor : pointer;
}
.hamburger > div {
  width : 100%;
  height : .5rem;
  background-color : rgb(4, 104, 101);
  margin-top : .5rem;
  transform-origin : 0 0;
  transition : transform ease-in-out .5s;
}
.hamburger > div:first-child {
  margin-top : 0;
}



@media only screen and (max-width: 599px) {
  /* menu toggled class - added to nav-bar */
  .toggled-on {
    /* margin-top : 150px; */
    height : 250px;
    text-align : center;
  }
  .toggled-on nav {
    width : 100%;
  }
  .toggled-on .menu {
    display : block;
    padding-top : 40px;
  }

  /* button and hamburger */
  .toggled-on #menu-button {
    position : absolute;
    top : -3px;
    right : 12px;
  }
  .toggled-on .hamburger > div:nth-child(1) {
    transform : skew(0deg,34deg);
  }
  .toggled-on .hamburger > div:nth-child(2) {
    visibility : hidden;
  }
  .toggled-on .hamburger > div:nth-child(3) {
    transform : skew(0deg,-34deg);
  }


  /* make menu items larger */
  .toggled-on .menu-item {
    margin-top : 1rem;
  }
  .toggled-on .menu-item a {
    font-size : 1.25rem;
    padding : .5rem;
    color : white;
  }
}







/* menu list items */
.menu-item a {
  padding: 4px;
  text-decoration: none;
  color: rgb(4, 104, 101);
}
.menu-item a:hover,
.menu-item a:focus,
.menu-item a:active {
  text-decoration : underline;
}


@media only screen and (min-width: 600px) {
  /* reveal the menu */
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #menu-button {
    display : none;
  }
}






/* - - - - - - - - */
main {
  padding: 50px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* intro */
.sections.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 40px 0;
}

.sections.intro h3,
.sections.intro p {
  display: block;
  width: 100%;
  color: rgb(255, 252, 250);
}

.sections.intro h3 {
  font-family: "Charmonman", cursive;
  font-size: 3em;
  font-weight: bold;
}

.sections.intro p {
  font-size: 1.3em;
  font-weight: bold;
}

.name {
  color: rgb(255, 252, 250);
}

.sections.intro article {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}
/* hide the h4 */
.sections.intro article h4 {
  display: none;
}
.round-img img {
  border-radius: 75px;
  width: 150px;
}
.round-img figcaption {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

/* about the team */
/* grid */
@media only screen and (min-width: 1000px) {
  .bubble {
    display: grid;
    grid-template-columns: [s] 1fr [begin] 1fr [img-end] 5fr [text-end] 1fr [e];
    grid-template-rows: [s] 10px [roof] 20px [gap] 10px [text-begin] auto [base] 10px [e];
  }

  .bubble img {
    width: 12rem;
    height: 12rem;
    grid-column-start: begin;
    grid-column-end: img-end;
    grid-row-start: roof;
    grid-row-end: base;
    border-radius: 50px;
  }

  .bubble figcaption {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 2px;
    grid-column-start: img-end;
    grid-column-end: text-end;
    grid-row-start: roof;
    grid-row-end: text-begin;
  }

  .bubble p {
    margin: 0.8em;
    grid-column-start: img-end;
    grid-column-end: text-end;
    grid-row-start: text-begin;
    grid-row-end: base;
  }

  .bubble.right {
    display: grid;
    grid-template-columns: [s] 1fr [begin] 5fr [img-start] 1fr [img-end] 1fr [e];
    grid-template-rows: [s] 10px [roof] 20px [gap] 10px [text-begin] auto [base] 10px [e];
  }

  .bubble.right img {
    grid-column-start: img-start;
    grid-column-end: img-end;
    grid-row-start: roof;
    grid-row-end: base;
  }

  .bubble.right figcaption {
    grid-column-start: begin;
    grid-column-end: img-start;
    grid-row-start: roof;
    grid-row-end: text-begin;
  }

  .bubble.right p {
    grid-column-start: begin;
    grid-column-end: img-start;
    grid-row-start: text-begin;
    grid-row-end: base;
  }
}

/* form */
form {
  background-color: rgb(255, 252, 250);
  margin: 1rem 0 2rem;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.75rem;
  background: linear-gradient(
      127deg,
      rgba(4, 104, 101, 0.9),
      rgba(250, 100, 0, 0) 70%
    ),
    linear-gradient(37deg, rgba(73, 220, 177, 0.8), rgba(0, 216, 150, 0) 70%),
    linear-gradient(246deg, rgba(255, 155, 113, 0.8), rgba(0, 216, 150, 0) 70%);
}
form input,
form label {
  display: block;
}
form label {
  color: rgb(255, 252, 250);
  padding-bottom: 0.25rem;
}
form input,
form textarea {
  font-family: "Asap", sans-serif;
  font-size: 16px / 1em;
  border: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
}
form button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  background: rgba(4, 104, 101, 0.8);
  color: rgb(255, 252, 250);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
}
form button a {
  color: rgb(255, 252, 250);
}
form button:hover,
form button:focus {
  background: rgb(255, 155, 113);
}

/* error class */
.error {
  border: 2px solid red;
}
.error-msg,
.error-msg-show {
  visibility: hidden;
  color: red;
  background: rgb(255, 252, 250);
  padding: 0.25rem;
}
.error-msg-show {
  visibility: visible;
}

.links {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  border-bottom: none;
  margin-bottom: 20px;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  font-family: "Asap", sans-serif;
  color: rgb(4, 104, 101);
  margin: 8px;
}

footer {
  color: rgb(4, 104, 101);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

/* mid to large screen stuff */
@media only screen and (min-width: 600px) {
  #about > h2,
  #about > p,
  form {
    max-width: 80%;
    margin: 0 auto 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .bubble img {
    margin: 10px;
    float: left;
    width: 8rem;
    height: 8rem;
    border-radius: 30px;
    shape-outside: inset(5rem 5rem 5rem 5rem 0.5rem);
  }
  .bubble.right img {
    float: right;
  }
  .bubble {
    padding: 10px 10px 10px 0px;
    margin: 10px 10px 10px 0px;
    width: 100%;
  }
  .bubble figcaption {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 2px;
  }
  .bubble p {
    margin: 0.8em;
  }
}

@media only screen and (max-width: 700px) {
  .bubble {
    padding: 10px 10px 10px 0px;
    margin: 10px 10px 10px 0px;
    width: 100%;
  }
  .bubble figcaption {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 2px;
  }
  .bubble p {
    margin: 0.8em;
  }
  .bubble img {
    margin: 10px;
    float: left;
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
    shape-outside: inset(5rem 5rem 5rem 5rem 0.5rem);
  }
  .bubble.right img {
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
    float: right;
  }
}
